  engine-${PARTY}:
    command:
      - /home/admin/bin/scqlengine
      - --flagfile=/home/admin/engine/conf/gflags.conf
    image: scql:${SCQL_IMAGE_TAG}
    volumes:
      - ./engine/${PARTY}/conf/gflags.conf:/home/admin/engine/conf/gflags.conf
      - ./engine/${PARTY}/conf/ed25519key.pem:/home/admin/engine/conf/ed25519key.pem
      - ./engine/${PARTY}/conf/authorized_profile.json:/home/admin/engine/conf/authorized_profile.json
      - ../test-data/csv/:/data/
