  scdb-${PROTOCOL}:
    image: scql:${SCQL_IMAGE_TAG}
    command:
      - /home/admin/bin/scdbserver
      - -config=/home/admin/configs/config.yml
    restart: always
    ports:
      - mode: host
        protocol: tcp
        published: ${SCDB_PORT}
        target: 8080
    volumes:
      - ./scdb/conf/${PROTOCOL}/:/home/admin/configs/
