common --experimental_repo_remote_exec
common --experimental_cc_shared_library
common --experimental_ui_max_stdouterr_bytes=-1

common --experimental_remote_download_regex='.*\/scqlengine$'

build --incompatible_new_actions_api=false 
build --copt=-fdiagnostics-color=always
build --enable_platform_specific_config

build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --linkopt -fvisibility=hidden
# default off CUDA build
build --@rules_cuda//cuda:enable=false
test --@rules_cuda//cuda:enable=false

# Binary safety flags
build --copt=-fPIC
build --host_copt=-fstack-protector-strong
build:linux --host_copt=-Wl,-z,noexecstack
build:macos --host_copt=-Wa,--noexecstack


test --keep_going
test --test_output=errors
test --test_timeout=1800

# platform specific config
# Bazel will automatic pick platform config since we have enable_platform_specific_config set
build:macos --copt="-Xpreprocessor -fopenmp"
build:macos --copt=-Wno-unused-command-line-argument
build:macos --features=-supports_dynamic_linker
build:macos --macos_minimum_os=12.0
build:macos --host_macos_minimum_os=12.0

# static link libstdc++ & libgcc on Linux
build:linux --copt=-fopenmp
build:linux --linkopt=-fopenmp
build:linux --action_env=BAZEL_LINKOPTS=-static-libstdc++:-static-libgcc
build:linux --action_env=BAZEL_LINKLIBS=-l%:libstdc++.a:-l%:libgcc.a
build:linux --action_env=PATH=/root/miniconda3/bin:/root/miniconda3/condabin:/usr/local/go/bin:/usr/local/bin:/root/miniconda3/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin



# build buddy
build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://remote.buildbuddy.io
build --remote_cache=grpcs://remote.buildbuddy.io
build --remote_timeout=3600
build --remote_header=x-buildbuddy-api-key=eX74fHo03f5Fc81UOogO

# build buddy remote execution
build --remote_executor=grpcs://remote.buildbuddy.io
# //:docker_image_platform   @buildbuddy_toolchain//:platform
build --host_platform=//:docker_image_platform
build --platforms=//:docker_image_platform
build --extra_execution_platforms=//:docker_image_platform

build --crosstool_top=@buildbuddy_toolchain//:toolchain
build --extra_toolchains=@buildbuddy_toolchain//:cc_toolchain
build --define=EXECUTOR=remote

