# docs
docs/_build

# bazel
/bazel-*

# go
bin/*
tool-bin/*
/vendor

# cloudide
.cloudide/

/compile_commands.json

# clangd cache
/external
/.cache/
.vscode/launch.json

# Translations
*.mo
*.pot

*.pyc

.venv

# 排除 ide 文件
.idea/
# 排除mac本地文件
*.DS_Store

# ignore bazelrc for remote cache
.remote.bazelrc

# python binding build
python/build/
python/package/
